ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d1290a;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
  li a:hover {
    background-color: #781c0b;
  }

  .topnav-right {
    float: right;
  }

  .accdrop{
    position: top right;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 18px;
    margin: 0;
  }
  .accdrop:hover{
    background-color: #781c0b;
  } 

  .dropdown {
    display: inline-block;
    position: top left;
    padding: 8px 6px

  }
  .dropdown-content {
    display: none;
    position: absolute;
    /* width: 100%; */
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #FFFFFF;
    padding: 5px;
    text-decoration: none;
    background-color: #d1290a;
    width: 83px;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #781c0b;
  }