{% extends "base.html" %}
{% block content %}
{% for item in data %}
{% if isAdmin %}
    
{% endif %}
    <h1 class = "dispname">User: {{ item.username }} <button onclick = "location.href = '/updateName'">Change Username</button> </h1>
    <h2 class = "dispemail">Email: {{ item.email }} <button onclick = "location.href = '/updateEmail'">Change Email</button> </h2>
    <h3 class = "dispcreds">Credits: {{ item.creds }}  </h3>
    {% if admin %}
    <a href="/verify">Verify new Assignments</a>
    {% endif %}
{% endfor %}
{% endblock %}