{% extends "base.html" %}
{% block title %}Assignment{% endblock %}
{% block content %}
{% for list in dList %}
    {% for item in list %}
    <table class="assignmenttable">
        <tr class="assignmenttable">
        <td><img src="/static/assingment_img/{{item.imagename}}" class="assingment-img" width="500" height="500"></td>
        <td><h1>name: {{item.name}}</h1><br>
        <h2>subject: {{item.subject}}</h2><br>
        <h1>grade: {{item.grade}}</h1></a></td> 
        </tr>
        </table>
    {% endfor %}
{% endfor %}
{% endblock %}