<html>
{% if current_user.is_authenticated %}
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/search'>Find Assignments</a></li>
        <li><a href='/upload'>Upload Assignments</a></li>
        <div class="topnav-right">
          <div class="dropdown">
            <a class="accdrop"> Account </a>
            <div class="dropdown-content">
            <a href="/update">Change Password</a>
            <a href="/logout">Logout</a>
            </div>
          </div>
          <!-- <li><a href='/account'>Account</a></li> -->
        </div>
        </ul>
    </nav>
{% else %}
  <nav>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/search'>Find Assignments</a></li>
      <!-- <li><a href='/upload'>Upload Assignments</a></li> -->
      <div class="topnav-right">
        <li><a href='/login'>Login</a></li>
      </div>
      </ul>
  </nav>
{% endif %}
  <link href="static/style.css" rel="stylesheet">
    {% block content %}
    {% endblock %}
  </body>
</html>