{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block content %}


  <ul class="assinment-list">

    {% if A_Items %}
    <script>
      assinments = "{{A_Items}}";

      for (i = 0; i < assinments.length; i++){
        document.write("<li class=\"assinment-list-item\">");
        document.write("<li class=\""+assinments[i]+"\">");
        // document.write("<img src=\"static/assingment_img/temp.jpg\" class=\"assingment-img\">");
        // document.write("<span>"+assinmnets.name+"</span><br>");
        // document.write("<span>"+assinmnets.description+"</span>");
        document.write("</li>");
      }

    </script>
    {% endif %}
  </ul>

{% endblock %}