{% extends "base.html" %}
{% block content %}
<form action="/upload" method="POST" id="uploadForm" enctype="multipart/form-data">
    Assingmnet Name: <input type="input" name="aName"> <br>
    Subject/Class: <input type="input" name="aSubject"> <br>
    Grade Recived: <input type="input" name="aGrade"> <br>
    Image: <input type="file" name="pic"><br>
    <input type="button" value="add another file" onclick="addFile()"><br>
    <input type="submit" value="UPLOAD">
</form>
<script>
    var numImg = 0;
    function addFile() {
        // alert('Button Clcked');

        // var form = document.getElementById("uploadForm");

        // var uploadImg = document.createElement("input");
        // uploadImg.setAttribute("type", file);
        // uploadImg.setAttribute("name", "pic"+numImg);
        // numImg++

        // form.appendChild(uploadImg)
        // form.appendChild(br.cloneNode());
    }
    </script>
{% endblock %}